/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url("../images/cover-image-dark.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-text-color);
  font-family: 'IBM Plex Mono', monospace;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.page.theme_light {
  background-image: url("../images/cover-image-light.png");
  background-color: #FFF1F7;
}

.header {
  display: grid;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  margin: 0 10px 40px 10px;
}

@media (min-width: 768px) {
  .header {
    margin: 0 20px 60px 0;
  }
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 0;
  top: 10px;
}

.theme_light .decorated-zone::after {
  border-top: 1px solid var(--main-text-color);
  border-right: 1px solid var(--main-text-color);
}

@media (min-width: 768px) {
  .decorated-zone::after {
    top: 20px;
  }
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  left: 10px;
  bottom: 10px;
}

.theme_light .decorated-zone::before {
  border-bottom: 1px solid var(--main-text-color);
  border-left: 1px solid var(--main-text-color);
}

@media (min-width: 768px) {
  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }
}

.rec-decoration {
  color: var(--accent-color);
  justify-self: end;
  position: absolute;
  right: 38px;
  top: 13px;
  text-transform: uppercase;
}

.theme_light .rec-decoration {
  display: none;
}

@media (min-width: 768px) {
  .rec-decoration {
    right: 48px;
    top: 23px;
  }
}

.rec-decoration::after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  top: 5px;
  right: -18px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    margin-top: 20px;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  list-style: none;
  margin: 0;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  background: none;
  border: none;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
}

.theme_light .header__theme-menu-button {
  color: var(--main-text-color);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.theme_light .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--main-text-color);
  pointer-events: none;
}

.header__title {
  margin: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  font-weight: 700;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__text {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .header__text {
    width: 48%;
    justify-self: end;
  }
}

@media (min-width: 1024px) {
  .header__text {
    width: 50%;
  }
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-text-color);
}

.main {
  display: grid;
  gap: 30px;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

@media (min-width: 768px) {
  .main {
    gap: 60px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
}

.section__title {
  margin-block-end: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--accent-color);
}

.theme_light .section__title {
  color: #353430;
}

.section__content {
  display: grid;
  gap: 20px;
}

.section__content-title {
  margin-block-end: 10px;
  font-size: 18px;
}

.section__content-subtitle {
  margin-block-end: 10px;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .double-column-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .triple-column-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .triple-column-section .section__title {
    grid-column: 1;
  }

  .triple-column-section .section__content {
    grid-column: span 3;
  }
}

.section__text-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--secondary-color);
}

@media (min-width: 1024px) {
  .second-section-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }
}

.section__image {
  width: 100%;
  height: 100%;
  margin-block-end: 10px;
}

@media (min-width: 768px) {
  .image-content-title {
    margin-block-end: 20px;
  }

  .section__images-container {
    display: grid;
    grid-template-areas: 
      'sunset sunset icecream'
      'tape books icecream'
      'tape street street'
      ;
    gap: 20px;
  }

  .section__image {
    margin: 0;
  }

  .sunset-image {
    grid-area: sunset;
  }

  .ice-cream-image {
    object-fit: cover;
    grid-area: icecream;
  }

  .books-image {
    grid-area: books;
  }

  .tape-image {
    object-fit: cover;
    grid-area: tape;
  }

  .street-image {
    grid-area: street;
  }
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--secondary-color);
}

.section__link:focus-visible {
  outline: 1px solid var(--secondary-color);
}

.footer {
  height: 100vh;
  display: grid;
  position: relative;
  margin: 30px 10px 0 10px;
}

@media (min-width: 768px) {
  .footer {
    margin: 60px 20px 0 20px;
  }
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: center;
} 

@media (min-width: 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}